<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Profile</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/header-in::header"></div>

<div class="container">
    <h1 th:text="${user.name}" class="modal-header">User Name</h1>
    <h2 th:if="${user instanceof T(App.model.Student)}">Student</h2>
    <h2 th:if="${user instanceof T(App.model.Teacher)}">Teacher</h2>
    <h4 th:text="${user.email}" >User Email</h4>
    <h4 th:text="${user.collegeSchool}" >User School</h4>
    <h4 th:text="${user.gender}" >User Gender</h4>
    <h4 th:text="${user.birthDate}"> User BirthDate</h4>
    <h2 th:if="${user instanceof T(App.model.Student)}" th:text="'Score: ' + ${user.score}"></h2>
    <h4 th:if="${user instanceof T(App.model.Teacher)}" th:text="'Courses Created: ' + ${courseCount}"></h4>
    <h4 th:if="${user instanceof T(App.model.Teacher)}" th:text="'Games Created: ' + ${gamesCount}"></h4>

</div>
</body>
</html>
