<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Create Course</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/header-in::header"></div>

<h1 class="modal-header container">Create Course</h1>
<div class="container">
    <form th:action="@{/course/create}" method="post" class="form">
        <input th:field="${course.name}" class="form-control" placeholder="Course Name" required="required"/>
        <h6 th:text="${errorMessage}" style="color: red"></h6>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>
</body>
</html>
