<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title th:text="${game.course.name}">Course Name</title>

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet" media="screen"/>
</head>

<body>

<div class="float">
    <form action="/" method="get">
        <button style="font-size: 40px" class="btn-outline-primary" type="submit">kangae(考え)</button>
    </form>
</div>

<div class="container">
    <form th:action="@{'/course/' + ${game.course.name} + '/create/game'}" th:object="${game}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Create Game</h2>
        <label for="inputGameName" class="sr-only">game Name</label>
        <input th:field="${game.name}" id="inputGameName" class="form-control" placeholder="Game Name"
               th:required="required"/>

        <label for="inputGameDescription" class="sr-only">game Description</label>
        <input th:field="${game.description}" id="inputGameDescription" class="form-control" placeholder="Game Description"
               th:required="required"/>

        <label for="inputGameInstructions" class="sr-only">game Instructions</label>
        <input th:field="${game.instruction}" id="inputGameInstructions" class="form-control" placeholder="Game Instructions"
               th:required="required"/>

        <label for="inputGameQuestion" class="sr-only">game Instructions</label>
        <input th:field="${game.question}" id="inputGameQuestion" class="form-control" placeholder="Question"
               th:required="required"/>

        <label for="inputGameAnswer" class="sr-only">game Instructions</label>
        <input th:field="${game.answer}" id="inputGameAnswer" class="form-control" placeholder="Answer"
               th:required="required"/>

        <h6 class="form-signin-heading" th:text="${errorMessage}" style="color: red"></h6>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>

    </form>
</div> <!-- /container -->
</body>
</html>