<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title th:text="${game.name}">Game Name</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/header-in::header"></div>

<h1 class="modal-header" th:text="${game.name}">Game Name</h1>

<div>
    <form th:action="@{'/course/' + ${game.course.name} + '/' + ${game.name}}">
        <button class="btn btn-lg btn-success" type="submit" style="float: left; margin-left: 5px">
            Play game
        </button>
    </form>
    <form th:action="@{'/course/' + ${game.course.name} + '/update/' + ${game.name}}">
        <button class="btn btn-lg btn-warning" type="submit" style="float: left; margin-left: 5px">
            Update game
        </button>
    </form>
    <form th:action="@{'/course/' + ${game.course.name} + '/cancel/' + ${game.name}}">
        <button class="btn btn-lg btn-danger" type="submit" style="margin-left: 5px">Cancel game
        </button>
    </form>
</div>

<h2 class="container modal-header">Comments</h2>
<div class="form" style="padding-top: 0%">
    <div th:each="comment : ${comments}">
        <h3 th:text="${comment.user.name} + ': ' + ${comment.content}">Comment</h3>
    </div>
    <br/>
    <form th:action="@{'/course/' + ${game.course.name} + '/' + ${game.name} + '/comment'}" method="post">
        <input th:field="${newComment.content}" class="form-control" placeholder="Write Comment" th:required="required"/>
        <button class="btn btn-lg btn-default btn-block" type="submit">Commet</button>
    </form>
</div>

</body>
</html>
