<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title th:text="${course.name}">Course Name</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/header-in-course::header"></div>

<h1 class="modal-header container" th:text="${course.name} + ' Games'">Games</h1>
<div class="form">
    <div th:each=" game : ${games}">
        <form th:action="@{'/course/' + ${game.course.name} + '/' + ${game.name} + '/options'}">
            <button th:text="${game.name} " class="btn btn-lg btn-default btn-block" type="submit">Open</button>
        </form>
    </div>
</div>
</body>
</html>
