<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Sign up teacher</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/signup.css" th:href="@{/css/signup.css}" rel="stylesheet" media="screen"/>

</head>


<body>

<div class="float">
    <form action="/" method="get">
        <button style="font-size: 40px" class="btn-outline-primary" type="submit">kangae(考え)</button>
    </form>
</div>

<form th:action="@{/signup/teacher}" th:object="${teacher}" method="post" class="form-signup">
    <h2 class="form-signup-heading">Teacher Sign Up</h2>
    <label for="inputName" class="sr-only">Name</label>
    <input th:field="${teacher.name}" type="text" id="inputName" class="form-control" placeholder="Name"
           th:required="required"/>
    <label for="inputEmail" class="sr-only">Email Address</label>
    <input th:field="${teacher.email}" type="email" id="inputEmail" class="form-control" placeholder="Email address"
           th:required="required"/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input th:field="${teacher.password}" type="password" minlength="6" id="inputPassword" class="form-control"
           placeholder="Password" th:required="required"/>
    <label for="inputCollegeSchool" class="sr-only">College School</label>
    <input th:field="${teacher.collegeSchool}" id="inputCollegeSchool" class="form-control"
           placeholder="CollegeSchool" th:required="required"/>
    <label for="inputGender" class="sr-only">Gender</label>
    <input th:field="${teacher.gender}" type="text" id="inputGender" class="form-control" placeholder="Gender"/>
    <label for="inputAge" class="sr-only">Age</label>
    <input th:field="${teacher.age}" type="text" id="inputAge" class="form-control" placeholder="Age"/>
    <label for="inputBirthdate" class="sr-only">Birthdate</label>
    <input th:field="${teacher.birthDate}" type="date" id="inputBirthDate" class="form-control" placeholder="Birthdate"/>
    <h6 class="form-signin-heading" th:text="${errorMessage}" style="color: red"></h6>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>

</body>
</html>