<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Sign in</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>
<div th:replace="fragments/header::header"></div>

<div class="container">
    <form th:action="@{/signin}" method="post" class="form">
        <h1 class="form-heading">Sign In</h1>
        <input th:field="${user.email}" type="email" class="form-control" placeholder="Email address" required="required"/>
        <input th:field="${user.password}" type="password" class="form-control" placeholder="Password" required="required"/>
        <h6 th:text="${errorMessage}" style="color: red"></h6>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
