<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Sign up student</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/signup.css" th:href="@{/css/signup.css}" rel="stylesheet" media="screen"/>

</head>


<body>

<div class="float">
    <form action="/" method="get">
        <button style="font-size: 40px" class="btn-outline-primary" type="submit">kangae(考え)</button>
    </form>
</div>

<form th:action="@{/signup/student}" th:object="${student}" method="post" class="form-signup">
    <h2 class="form-signup-heading">Student Sign Up</h2>
    <label for="inputName" class="sr-only">Name</label>
    <input th:field="${student.name}" type="text" id="inputName" class="form-control" placeholder="Name"
           th:required="required"/>
    <label for="inputEmail" class="sr-only">Email Address</label>
    <input th:field="${student.email}" type="email" id="inputEmail" class="form-control" placeholder="Email address"
           th:required="required"/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input th:field="${student.password}" type="password" id="inputPassword" class="form-control"
           placeholder="Password" th:required="required"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>

</body>
</html>